
<app-user-filter [users]="data" (filterChange)="onFilterChange($event)"></app-user-filter>

<button id="addNewUser" mat-raised-button color="primary" focusable="false" (click)="createRow()">
  New User
</button>
<table mat-table [dataSource]="filteredData" #userTable>

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id </th>
      <td mat-cell *matCellDef="let user"> {{user._id}} </td>
    </ng-container>
  
    <ng-container matColumnDef="FirstName">
      <th mat-header-cell *matHeaderCellDef> First Name </th>
      <td mat-cell *matCellDef="let user"> {{user.firstName}} </td>
    </ng-container>
  
    <ng-container matColumnDef="LastName">
      <th mat-header-cell *matHeaderCellDef> Last Name </th>
      <td mat-cell *matCellDef="let user"> {{user.lastName}} </td>
    </ng-container>
  
    <ng-container matColumnDef="Email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let user">{{user.email}} </td>
    </ng-container>

    <ng-container matColumnDef="Role">
      <th mat-header-cell *matHeaderCellDef> Role </th>
      <td mat-cell *matCellDef="let user">{{user.role}} </td>
    </ng-container>
  
    <ng-container matColumnDef="Operations">
      <th mat-header-cell *matHeaderCellDef> Operations </th>
      <td mat-cell *matCellDef="let j = index;">
        <button mat-raised-button color="warn" focusable="false" (click)="deleteRow(j)">
          Delete
        </button>
        <button mat-raised-button color="secondary" focusable="false" (click)="editRow(j)">
          Edit
        </button>
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: columns;"></tr>
  </table>
