

<div class="container">
  <h2 mat-dialog-title>{{description}}</h2>

  <mat-dialog-content style="display: inline;">
    <form [formGroup]="form" name="userForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col s12">
                <input  formControlName="_id" type="hidden" placeholder="Insert First Name">
                <div class="row">
                  <div class="col s6">
                    <input   formControlName="firstName" type="text" placeholder="Insert First Name">
                  </div>
                  <div class="col s6">
                      <input   formControlName="lastName" type="text" placeholder="Insert Last Name">
                  </div>
                </div>
            
                <div class="row">
                  <div class="col s12"> 
                      <input  formControlName="email" type="text" placeholder="Insert Email">
                  </div>
                </div>

                <div class="row">
                  <div class="col s12"> 
                      <mat-select  formControlName="role" type="text" placeholder="Choose Role">
                        <mat-option selected value="Artist">Artist</mat-option>
                        <mat-option value="Designer">Designer</mat-option>
                        <mat-option value="ArtManager">ArtManager</mat-option>
                      </mat-select>
                  </div>
                </div>
              
            </div>
          </div>
          <mat-dialog-actions>
            <button class="mat-raised-button"(click)="close()">Close</button>
            <button  type="submit" [disabled]="!form.valid" class="mat-raised-button mat-primary">Save</button>
        </mat-dialog-actions>
        
      </form>
      
  </mat-dialog-content>
</div>