
 <div class="row">
    <div class="col s6">  
        <input [(ngModel)]="search" name="search" (keydown) = "filter($event)"  type="text" placeholder="Search by">
    </div>
    <div class="col s6" > 
        <mat-select  [(ngModel)]="role" name="role" (selectionChange) = "filter($event)" type="text" placeholder="Filter by Role">
          <mat-option selected >All</mat-option>
          <mat-option value="Artist">Artist</mat-option>
          <mat-option value="Designer">Designer</mat-option>
          <mat-option value="ArtManager">ArtManager</mat-option>
        </mat-select>
    </div>
</div>

